*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #272727;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.container{
  width: 100%;
}
.menu-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all.5s ease-in-out;
  border: 3px solid #fff;
}
.menu-btn-burger{
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px  5px rgba(255,101,47.2);
  transition: all.5s ease-in-out;
}
.menu-btn-burger::before,.menu-btn-burger::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47.2);
  transition: all.5s ease-in-out;
}
.menu-btn-burger::before{
  transform: translateY(-16px);
  background-color: red ;
}
.menu-btn-burger::after{
  transform: translateY(16px);
}
body{
  background-color: brown;
}
span{
  color: red;
}
.tuy{
  padding: auto;
  margin-right: 130px;
  display: block;
}
.kol{
  align-items: center;

}
.navigation{
  background-color: azure;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.kol,.njk{
  float: right;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
.menu li a{
  background-color: gray;
  width: 100%;
  padding: 40px 25px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  transition: 0.5s;
}

.menu li a{
  list-style-type: none;
}
.menu li a{
  color: white;
  text-decoration: none;
  display: block;
  font-size: 18px;
  line-height: 1;
  padding: 40px 25px;
  box-shadow: 0 -5px 0px red inset, 500px 0 0 rgba( 255 255 255 0.3) inset;
  transition: 0.3s;
}
.menu li a:hover{
  color: black;
  text-decoration: none;
  display: block;
  font-size: 18px;
  padding: 40px 25px;
  box-shadow: 0-5px 0px #fff inset,500px 0 0 rgba(255,255, 255,0.03) inset;

}